@import '../themes/_variables-warm.scss';
@import '../global/_main.scss';

//EXCEPTIONS
.form-wizard-vue {
  .fw-body-content {

  }
  .fw-body-content {
    padding: 0 !important;
  }
  .fw-body-container {
    min-height:100%;
  }
}


#app {
  height: 100vh;
  width: 100vw;
}

nav {
  height: 5rem;
  margin-left: 5rem;
  background-color: $background-brightness-medium;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $background-brightness-low;
}

.foldout-menu {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  height: 3rem;
  width: 4.17rem;
  background-image: url('/img/menu.png');
  background-size: cover;
}

.main-bg {
  background-image: url('/img/paperTextureSeamless.png');
  background-size: 50%;
  min-height: calc(100% - 5rem);
}

.logo {
  background-image: url('/img/omen-logo.png');
  height: 29px;
  width: 86px;
  background-size: cover;
  position: absolute;
  top: $size-small;
  left: calc(5rem + $size-medium);
}

.faux-modal-container {
  height: calc(100% - 5rem);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .faux-modal {
    width: max-content;
    margin: 0 auto;
  }
}

.trait-card-align {
  vertical-align: super !important;
  line-height: 2.2rem !important;
}

.attribute {
  flex-direction: column;
}
.skill-value {
  justify-content: space-between;
}
.attribute-value {
  background: rgb(255,251,246);
  background: linear-gradient(90deg, rgba(255,251,246,0) 0%, rgba(255,251,246,1) 50%, rgba(255,251,246,0) 100%);
}
.attribute-headline {
  width: 4.5rem;
  display: inline-block;
  text-align: left;
}
.attribute-icon {
  height: 1.7rem;
  vertical-align: 0.2rem;
  margin-right: 1rem;
}

.attribute-skill {
  position: relative;
}
.attribute-skill-marker {
  background-image: url('/img/markerCircle.svg');
  background-size: cover;
  color: #fff !important;
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 1rem;
  left: 0.9rem;
  &.touched-by-error {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(270deg) brightness(101%) contrast(102%);
  }
}

.attribute-value-align {
  line-height: 2.2rem !important;
  font-size: 1.45rem !important;
  vertical-align: baseline !important;
}

.touched-by-error {
  background-repeat:no-repeat; 
  color: #fff !important;
  background-color: rgba(234, 10, 10, 0.331) !important;
  font-weight: bold;
  border-radius: $border-radius;
  
  &.-angled-bottom {
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
  }
  &.invalid-background {
    background-color: rgb(255, 51, 0) !important;
    border-color: rgba(78, 7, 0, 0.266);
    .attribute-skill-marker {
      filter: invert(98%) sepia(5%) saturate(401%) hue-rotate(11deg) brightness(200%) contrast(100%);
    }
  }
  .svg-error-filter {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(270deg) brightness(101%) contrast(102%);
  }
}

.invalid-text {
  color: rgb(247, 63, 46) !important;
  font-weight: bold;
}

.angled-top {
  border-radius: 0px 0px 3px 3px !important;
}

.card {
  border-radius: $border-radius;
  border: 1px solid $border-contrast-medium;
  background-image: url('/img/monochromeNoise.png');
  &.dark {
    background-color: $background-brightness-low;
  }
  &.medium {
    background-color: $background-brightness-medium;
  }
  &.light {
    background-color: $background-brightness-high;
  }
  &.square {
    border-radius: 0;
    border: 0;
  }
}

.dictionary-word {
  cursor: pointer;
  border-radius: $border-radius;
  &:hover {
    background-color: $background-brightness-medium;
  }
  &.selected {
    background-color: $background-brightness-high;
  }
}

.drawer {
  width: 6rem;
  height: 100vh;
  background-color: $background-brightness-low;
}

.attribute-skill-top {
  border-radius:  $border-radius $border-radius 0 0;
}
.attribute-skill-bottom {
  border-radius: 0 0 $border-radius $border-radius;
}
