@import '../themes/_variables-warm.scss';
@import '../global/_main.scss';

// General layout

#app {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

nav {
  height: 5rem;
  z-index: 99;
  background-color: #302d29;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #2e281c;
}
.main-nav {
  position: relative;
  background-image: url('/img/monochromeNoise.png');
}

.foldout-menu-trigger {
  background-image: url('/img/menu.svg');
  background-size: cover;
  text-shadow: 0px -1px 1px rgb(103 0 0 / 70%);
  padding: 1rem;
  height: 3rem;
  width: 4.42rem;
}
.menu-trigger-wrapper {
  cursor: pointer;
  position: absolute;
  top: 0rem;
  right: 0rem;
  padding: 1rem;
  padding-bottom: calc(1rem - 1px);
  background-color: transparent;
  background: url(/img/monochromeNoise.png), linear-gradient(90deg, rgb(36 35 32) 0%, rgb(29 25 22) 100%);
  &:hover {
    background: url(/img/monochromeNoise.png), linear-gradient(90deg, rgb(36 35 32) 0%, rgb(29 25 22) 100%) !important;
  }
  &.closed {
    background: transparent !important;
    &:hover {
      background: url(/img/monochromeNoise.png), linear-gradient(90deg, rgb(36 35 32) 0%, rgb(29 25 22) 100%) !important;
    }
  }
}
.foldout-menu {
  position: absolute;
  top: 5rem;
  right: 0;
  height: calc(100vh - 5rem);
  width: 20rem;
  text-align: right;
  background-image: url('/img/monochromeNoise.png');
  background-color: #2f2d29;
  transition: 0.3s;
  a {
    color: #e3ca87;
  }
  &.closed {
    right: -20rem;
  }
  .menu-item {
    display: block;
    padding: $size-medium;
    border-bottom: 1px solid #4f4634;
    border-top: 1px solid #2a2418;
    padding-top: 1rem;
    padding-right: $size-large;
    background: url('/img/monochromeNoise.png'), linear-gradient(90deg, rgb(47, 45, 41) 0%, rgb(41 37 33) 100%) !important;
    &:hover {
      background: url(/img/monochromeNoise.png), linear-gradient(90deg, rgb(36 35 32) 0%, rgb(29 25 22) 100%) !important;
    }
  }
}


.main-bg {
  background-color: $background-brightness-low;
  background-size: 50%;
  min-height: calc(100vh - 5rem);
}

.logo {
  background-image: url('/img/omen-logo.svg');
  height: 29px;
  width: 86px;
  background-size: cover;
  position: absolute;
  top: $size-small;
  left: 1rem;
  cursor: pointer;
}

.faux-modal-container {
  height: calc(100% - 5rem);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .faux-modal {
    width: max-content;
    margin: 0 auto;
  }
}
.corner {
  background-image: url('/img/corner.png');
  background-size: cover;
  height: 3rem;
  width: 3rem;
  position: absolute;
}

.card {
  border-radius: $border-radius;
  border: 1px solid $border-contrast-medium;
  background-image: url('/img/monochromeNoise.png');
  &.dark {
    background-color: $background-brightness-low;
  }
  &.medium {
    background-color: $background-brightness-medium;
  }
  &.light {
    background-color: $background-brightness-high;
  }
  &.square {
    border-radius: 0;
    border: 0;
  }
  &.-fill {
    min-height: calc(100vh - 5rem) !important;
  }
  &.-hoverable {
    &:hover {
      &.dark {
          background-color: lighten($background-brightness-low, 3%);
      }
      &.medium {
          background-color: lighten($background-brightness-medium, 3%);
      }
      &.light {
          background-color: lighten($background-brightness-high, 3%);
      }
    }
  }
}

// character
.character {
  position: relative;
  margin-left: 6rem;
  height: calc(100vh - 5rem);
  background-color: rgb(215 200 178);
  background-image: url('/img/monochromeNoise.png');

  .character-name {
    text-shadow: 0px -1px rgb(255 255 255 / 50%), 0 1px 1px rgb(224 200 170);
    color: #795f44;
  }
}
.wrapper {
  flex-direction: column;
}

// Traits

.trait-card-align {
  vertical-align: super !important;
  line-height: 2.2rem !important;
}

// Attributes

.attribute {
  flex-direction: column;
}
.skill-value {
  justify-content: space-between;
}
.attribute-value {
  background: rgb(255,251,246);
  background: linear-gradient(90deg, rgba(255,251,246,0) 0%, rgba(255,251,246,1) 50%, rgba(255,251,246,0) 100%);
}
.attribute-headline {
  width: 4.5rem;
  display: inline-block;
  text-align: left;
}
.attribute-icon {
  height: 1.7rem;
  vertical-align: 0.2rem;
  margin-right: 1rem;
}

.attribute-skill {
  position: relative;
}
.attribute-skill-marker {
  background-image: url('/img/markerCircle.svg');
  background-size: cover;
  color: #fff !important;
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 1rem;
  left: 0.9rem;
  &.touched-by-error {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(270deg) brightness(101%) contrast(102%);
  }
}

.attribute-value-align {
  line-height: 2.2rem !important;
  font-size: 1.45rem !important;
  vertical-align: baseline !important;
}

.attribute-skill-top {
  border-radius:  $border-radius $border-radius 0 0;
}
.attribute-skill-bottom {
  border-radius: 0 0 $border-radius $border-radius;
}

// Errors

.touched-by-error {
  background-repeat:no-repeat;
  color: #fff !important;
  background-color: rgba(234, 10, 10, 0.331) !important;
  font-weight: bold;
  border-radius: $border-radius;

  &.-angled-bottom {
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
  }
  &.invalid-background {
    background-image: url('/img/monochromeNoise.png');
    background-color: rgb(255, 51, 0) !important;
    background-repeat: repeat;
    border-color: rgba(78, 7, 0, 0.266);
    .attribute-skill-marker {
      filter: invert(98%) sepia(5%) saturate(401%) hue-rotate(11deg) brightness(200%) contrast(100%);
    }
  }
  .svg-error-filter {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(270deg) brightness(101%) contrast(102%);
  }
}

.invalid-text {
  color: rgb(247, 63, 46) !important;
  font-weight: bold;
}

.angled-top {
  border-radius: 0px 0px 3px 3px !important;
}

// --- Don't mind .fancy, I am working on it //Leo

.fancy {
  border:10px solid transparent;
  border-image-slice: 39;
  border-image-width: 10px;
  border-image-outset: 0px;
  border-image-repeat: repeat repeat;
  border-image-source: url('/img/border-sandstone.png')
}

// --- Dictionary

.dictionary-word {
  cursor: pointer;
  border-radius: $border-radius;
  &:hover {
    background-color: $background-brightness-medium;
  }
  &.selected {
    background-color: $background-brightness-high;
  }
}

// --- * --- FORM WIZARD STYLING - A TOTAL HACK

// --- GENERAL
.form-wizard-vue {
  max-height: calc(100vh - 5rem);
  background-image: url('/img/monochromeNoise.png');
  .fw-body-content {
    padding: 0 !important;
  }
  .fw-body-container {
    min-height:100%;
  }
  .fw-body-list {
    min-width: 35rem !important;
    align-self: flex-start !important;
    max-height: calc(100vh - 5rem) !important;
    overflow: scroll !important;
    background-image: url('/img/monochromeNoise.png');
    box-shadow: -4px 0px 1rem 0px rgba(0,0,0,0.05) inset;
    .fw-step-title {
      font-size: $font-size-tiny !important;
      font-weight: bold;
      color: #4f4b48;
      padding-bottom: 5px;
    }
    .fw-step-container {
      margin-top: -7px;
      font-weight: bold;
      i {
        font-style: normal !important;
        font-weight: bold;
        padding-left: 2px;
      }
    }
    .fw-list-progress {
      height: 85% !important;
      top: 55% !important;
      background-color: #c3baaa !important;
    }
    .fw-list-progress-active {
      background: linear-gradient(90deg, rgb(210 196 153) 0%, rgb(255 231 189) 50%, rgb(200, 197, 158) 100%) !important;
      border: 1px solid #f6b525;
    }
    .fw-squared-tab {
      border: 2px solid #aead9f;
      box-shadow: 0px 1px 6px 0px rgb(51 28 0 / 23%);
    }
  }
  .fw-body {
    height: calc(100vh - 5rem) !important;
    overflow: scroll !important;
  }
  .fw-footer {
    display: none !important;
  }
  .fw-list-wrapper {
    top: 0 !important;
  }
  // Hahahaha
  li:has(.fw-squared-tab) {
    cursor: pointer;
  }

  li:has([id$="selectedStep"].fw-squared-tab) {
    background: url('/img/monochromeNoise.png'), linear-gradient(90deg, rgba(225,214,195,0) 25%, rgba(240,234,224,1) 100%);
    cursor: default;
  }
  li:has([id$="selectedInvalidStep"].fw-squared-tab) {
    background: url('/img/monochromeNoise.png'), linear-gradient(90deg, rgba(225,214,195,0) 25%, rgba(240,234,224,1) 100%);
    cursor: default;
  }
}

// HACK VIA HTML ID PROPERTY
// KEEP UNTIL CONNECTION TO THAT
// LIB IS SEVERED

[id$="invalidStep"].fw-squared-tab {
  background-image: url('/img/monochromeNoise.png') !important;
  background-color: rgb(255, 51, 0) !important;
  background-repeat: repeat;
  border: 2px solid #b32508 !important;
  color: #fff !important;
}
[id$="selectedStep"].fw-squared-tab {
  background: radial-gradient(circle at 50% 50%, rgb(255 242 215) 0%, rgb(255 218 164) 50%, rgb(206, 202, 153) 100%) !important;
  border: 2px solid #face70 !important;
  box-shadow: 0px 1px 6px 0px rgb(255 138 0);
  .fw-step-container {
    font-size: $font-size-medium !important;
    color: #bd994d;
    text-shadow: 0px -1px 1px rgb(103 0 0 / 70%);
    font-weight: normal;
    margin-top: -10px !important;
  }


}
[id$="selectedInvalidStep"].fw-squared-tab {
  border: 2px solid rgb(255, 51, 0) !important;
  background: radial-gradient(circle at 50% 50%, rgb(255 242 215) 0%, rgb(255 218 164) 50%, rgb(206, 202, 153) 100%) !important;
  box-shadow: 0px 1px 10px 2px rgb(255 51 0 / 93%);
  .fw-step-container {
    font-size: $font-size-medium !important;
    font-weight: normal;
    margin-top: -9px !important;
    color: rgb(255 51 0) !important;
  }
}

.levels {
  height: 100%;
  max-width: calc(100vw - 6rem);
  min-width: calc(100vw - 6rem);
  width: calc(100vw - 6rem);
}

.sidebar {
  position: absolute;
  top: 49px;
  left: 0;
  bottom: 0;
  right: 0;
  height: fit-content;
  min-height: calc(100vh - 5rem);
  max-width: 100vw;
  min-width: 100vw;
  width: 100vw;
  overflow: scroll;
  border-top: 1px solid #6a5f49;
  background-color: $background-brightness-low;
  overflow: hidden;
  transition: 0.3s;
  &.closed {
    margin-left: calc(-100vw + 6rem);
    height: calc(100vh - 5rem);
  }
}
.drawer-handle-wrapper {
  width: 6rem;
  height: calc(100vh - 5rem);
  background: url('/img/monochromeNoise.png'), linear-gradient(90deg, rgba(126, 117, 104, 1) 0%, rgba(86, 80, 71, 1) 100%);
  right: 0;
  top: 0;
  position: absolute;
  cursor: pointer;
  .drawer-handle {
    height:100%;
  }
  .icon {
    width: 6rem;
    height: 7rem;
    background-size: 4rem;
    background-repeat: no-repeat;
    background-position: center center;
    &.-level-ladder {
      background-image: url('/img/iconLevelLadder.svg');
    }
    &.-biography {
      background-image: url('/img/iconBiography.svg');
    }
    &.selected {
      background-color: rgba(0,0,0,0.3);
    }
    &:hover:not(.selected) {
      background-color: rgba(0,0,0,0.15);
    }
  }
}

.icon-delete {
  background-image: url('/img/iconDelete.svg');
  background-size: cover;
  width: 1.5rem;
  height: 1.5rem;
  margin: 1rem;
  margin-top: 1.1rem;
  cursor: pointer;
  &:hover {
    filter: brightness(1.5);
  }
}
