@import '../themes/_variables-warm.scss';
@import '../global/_main.scss';

// General layout

#app {
  height: 100vh;
  width: 100vw;
}

nav {
  height: 5rem;
  z-index: 99;
  background-color: #655d53;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #6a5f49;
}

.foldout-menu {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  height: 3rem;
  width: 4.42rem;
  background-image: url('/img/menu.svg');
  background-size: cover;
  filter: brightness(0) invert(1);
}

.main-bg {
  background-color: $background-brightness-low;
  background-size: 50%;
  min-height: calc(100vh - 5rem);
}

.logo {
  background-image: url('/img/omen-logo.png');
  height: 29px;
  width: 86px;
  background-size: cover;
  position: absolute;
  top: $size-small;
  left: $size-medium;
  filter: brightness(0) invert(1);
}

.faux-modal-container {
  height: calc(100% - 5rem);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .faux-modal {
    width: max-content;
    margin: 0 auto;
  }
}

.card {
  border-radius: $border-radius;
  border: 1px solid $border-contrast-medium;
  background-image: url('/img/monochromeNoise.png');
  &.dark {
    background-color: $background-brightness-low;
  }
  &.medium {
    background-color: $background-brightness-medium;
  }
  &.light {
    background-color: $background-brightness-high;
  }
  &.square {
    border-radius: 0;
    border: 0;
  }
  &.-fill {
    min-height: 100vh !important;
  }
}

// character
.character {
  position: relative;
  margin-left: 6rem;
  background-color: rgb(215 200 178);
  .character-name {
    text-shadow: 0px -1px rgba(255,255,255,0.5);
  }
}
.wrapper {
  flex-direction: column;
}

// Traits

.trait-card-align {
  vertical-align: super !important;
  line-height: 2.2rem !important;
}

// Attributes

.attribute {
  flex-direction: column;
}
.skill-value {
  justify-content: space-between;
}
.attribute-value {
  background: rgb(255,251,246);
  background: linear-gradient(90deg, rgba(255,251,246,0) 0%, rgba(255,251,246,1) 50%, rgba(255,251,246,0) 100%);
}
.attribute-headline {
  width: 4.5rem;
  display: inline-block;
  text-align: left;
}
.attribute-icon {
  height: 1.7rem;
  vertical-align: 0.2rem;
  margin-right: 1rem;
}

.attribute-skill {
  position: relative;
}
.attribute-skill-marker {
  background-image: url('/img/markerCircle.svg');
  background-size: cover;
  color: #fff !important;
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 1rem;
  left: 0.9rem;
  &.touched-by-error {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(270deg) brightness(101%) contrast(102%);
  }
}

.attribute-value-align {
  line-height: 2.2rem !important;
  font-size: 1.45rem !important;
  vertical-align: baseline !important;
}

.attribute-skill-top {
  border-radius:  $border-radius $border-radius 0 0;
}
.attribute-skill-bottom {
  border-radius: 0 0 $border-radius $border-radius;
}

// Errors

.touched-by-error {
  background-repeat:no-repeat;
  color: #fff !important;
  background-color: rgba(234, 10, 10, 0.331) !important;
  font-weight: bold;
  border-radius: $border-radius;

  &.-angled-bottom {
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
  }
  &.invalid-background {
    background-color: rgb(255, 51, 0) !important;
    border-color: rgba(78, 7, 0, 0.266);
    .attribute-skill-marker {
      filter: invert(98%) sepia(5%) saturate(401%) hue-rotate(11deg) brightness(200%) contrast(100%);
    }
  }
  .svg-error-filter {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(270deg) brightness(101%) contrast(102%);
  }
}

.invalid-text {
  color: rgb(247, 63, 46) !important;
  font-weight: bold;
}

.angled-top {
  border-radius: 0px 0px 3px 3px !important;
}

// --- Don't mind .fancy, I am working on it //Leo

.fancy {
  margin: 100px;
  border:10px solid transparent;
  border-image-slice: 45;
  border-width: 20px;
  border-image-outset: 8px;
  border-image-repeat: repeat;
  border-image-source: url('/img/border-sandstone.png')
}

// --- Dictionary

.dictionary-word {
  cursor: pointer;
  border-radius: $border-radius;
  &:hover {
    background-color: $background-brightness-medium;
  }
  &.selected {
    background-color: $background-brightness-high;
  }
}

// --- * --- FORM WIZARD STYLING - A TOTAL HACK

// --- GENERAL
.form-wizard-vue {
  background-image: url('/img/monochromeNoise.png');
  .fw-body-content {
    padding: 0 !important;
  }
  .fw-body-container {
    min-height:100%;
  }
  .fw-body-list {
    min-width: 35rem !important;
    align-self: flex-start !important;
    max-height: 100vh !important;
    overflow: scroll !important;
    background-image: url('/img/monochromeNoise.png');
    box-shadow: -4px 0px 1rem 0px rgba(0,0,0,0.05) inset;
    .fw-step-title {
      font-size: $font-size-tiny !important;
      font-weight: bold;
      color: #4f4b48;
      padding-bottom: 5px;
    }
    .fw-step-container {
      margin-top: -7px;
      font-weight: bold;
    }
    .fw-list-progress {
      height: 85% !important;
      top: 55% !important;
      background-color: #c3baaa !important
    }
    .fw-list-progress-active {
      background: linear-gradient(90deg, rgb(196 196 155) 0%, rgb(231 233 199) 50%, rgb(200 197 158) 100%) !important;
    }
    .fw-squared-tab {
      border: 1px solid $border-contrast-high;
    }
  }
  .fw-body {
    height: 100vh !important;
    overflow: scroll !important;
  }
  .fw-footer {
    display: none !important;
  }
  .fw-list-wrapper {
    top: 0 !important;
  }
  // Hahahaha
  li:has([id$="selectedStep"].fw-squared-tab) {
    background: url('/img/monochromeNoise.png'), linear-gradient(90deg, rgba(225,214,195,0) 25%, rgba(240,234,224,1) 100%);
  }
}

// HACK VIA HTML ID PROPERTY
// KEEP UNTIL CONNECTION TO THAT
// LIB IS SEVERED

[id$="invalidStep"].fw-squared-tab {
  background: rgb(255, 51, 0) !important;
  color: #fff !important;
}
[id$="selectedStep"].fw-squared-tab {
  background: radial-gradient(circle at 50% 50%, rgb(254 254 223) 0%, rgb(227 228 193) 50%, rgb(206 202 153) 100%) !important;
  border: 2px solid #c3a971 !important;
  box-shadow: 0px 1px 6px 0px rgb(0 0 0 / 19%);
}
[id$="selectedInvalidStep"].fw-squared-tab {
  border: 2px solid rgb(255, 51, 0) !important;
  background: radial-gradient(circle at 50% 50%, rgb(254 254 223) 0%, rgb(227 228 193) 50%, rgb(206 202 153) 100%) !important;
}

.level-ladder {
  position: absolute;
  top: 49px;
  left: 0;
  bottom: 0;
  right: 0;
  height: fit-content;
  min-height: calc(100vh - 5rem);
  max-width: 100vw;
  min-width: 100vw;
  width: 100vw;
  overflow: scroll;
  border-top: 1px solid #6a5f49;
  background-color: $background-brightness-low;
}
.levels {
  height: 100%;
  max-width: calc(100vw - 6rem);
  min-width: calc(100vw - 6rem);
  width: calc(100vw - 6rem);
}
.drawer-handle {
  width: 6rem;
  height: calc(100vh - 5rem);
  background-color: rgb(126 117 104);
}
.closed {
  margin-left: calc(-100vw + 6rem);
  height: calc(100vh - 5rem);
  overflow: hidden;
}
