@import '../themes/_variables-warm.scss';
@import '../global/_main.scss';

#app {
  height: 100vh;
  width: 100vw;
}

nav {
  height: 5rem;
  background-color: $background-brightness-medium;
  display: flex;
  justify-content: center;
  align-items: center;
}



.faux-modal-container {
  height: calc(100% - 5rem);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .faux-modal {
    width: max-content;
    margin: 0 auto;
  }
}

.card {
  border-radius: $border-radius;
  border: 1px solid $border-contrast-medium;
  &.dark {
    background-color: $background-brightness-low;
  }
  &.medium {
    background-color: $background-brightness-medium;
  }
  &.light {
    background-color: $background-brightness-high;
  }
}

.dictionary-word {
  cursor: pointer;
  border-radius: $border-radius;
  &:hover {
    background-color: $background-brightness-medium;
  }
  &.selected {
    background-color: $background-brightness-high;
  }
}
